{% extends 'base.htm' %}

{% block content %}

<br />
<br />

{% for product in products.all %}
<div class="row ">
    <div class="col-2" onclick="window.location = '{% url 'detail' product.id %}';" style="cursor: pointer">
        <img src="{{ product.icon.url }}"  class="img-fluid" />
    </div>
    <div class="col-6" onclick="window.location = '{% url 'detail' product.id %}';" style="cursor: pointer">
       <h3>{{ product.title}}</h3>
        <p>{{ product.summary}}</p>

    </div>
    <div class="col-3" >
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"> Upvote {{ product.votes_total }}</button></a>
    </div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<br />
<br />
<br />

{% endfor %}


{% endblock %}